*{
    margin-top: 3px;
    margin-left: 2px;
    padding: auto;
    font-family: Arial, Helvetica, sans-serif
}

body{
    background: #efefef;
}

h3{
    color: green;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.register-redirect{
  color: blue;
  text-decoration: underline;
  margin-top: 50px;
  font-size-adjust: 0.01;
}

.form{
  margin-top: 50px;
  margin-left: 30%;
  width: 40%;
  border: 3px solid green;
  background-color: #dbf0db;
  padding: 10px;
  border-radius: 5%;
}
