body{
    background-color: blue;
}
.container{
    position: absolute;
}

.card-img-top{
    border: solid;
    width: 80px;
    height: 200px;
}

.prof-pic-side{
    position:absolute;
    height: 350px;
    width: 350px;
}

#username{
    margin-left: 450px;
}


.userPosts{
    margin-left: 900px;
}
