<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NinerNexus</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>

        <nav>
            <div class="nav-left">
                <img src="static/images/logo.png" class="logo">
                <ul>
                    <li><img src="static/images/notifications.png"></li>
                    <li><img src="static/images/inbox.png"></li>
                    <li><img src="static/images/video.png"></li>
                    <a href="{{ url_for('add_post',login_username=login_username) }}"><li><img src="static/images/add_post.png"></a><li>
                </ul>
            </div>
            <div class="nav-right">
                <div class="search-box">
                    <img src="static/images/search.png">
                    <input type="text" placeholder="Search">
                </div>
                <div class="nav-user-icon online">
                    <h3><a href="/userProfile"><img src="static/images/profile-pic.png"></a></h3>
                </div>   

            </div> 
        </nav>

        <div class="container">
        <!-----------left sidebar--------- -->
            <div class="left-sidebar">
                <div class="imp-links">
                    <a href="#"><img src="static/images/news.png"> News </a>
                    <a href="#"><img src="static/images/friends.png"> Friends </a>
                    <a href="#"><img src="static/images/group.png"> Group </a>
                    <a href="#"><img src="static/images/marketplace.png"> Marketplace </a>
                    <a href="#"><img src="static/images/video.png"> Watch </a>
                    <a href="#">See More</a>
                </div>
                <div class="Favorites">
                    <p>Your Favorites</p>
                    <a href="#"><img src="static/images/favorite-1.jpg" width="50", height="50"> UNCC Web Developers</a>
                    <p> </p>
                    <a href="#"><img src="static/images/favorite-2.jpg" width="50", height="50"> 49th Security Division</a>
                    <p> </p>
                    <a href="#"><img src="static/images/favorite-3.png" width="50", height="50"> UNCC Robotics Team</a>
                    <p> </p>
                    <a href="#"><img src="static/images/favorite-4.png" width="50", height="50"> IT Help Wanted</a>
                    <p> </p>
                </div>

            </div>
            <!-----------main content--------- -->
            <div class="main content">
                <div class="post-container">
                    <div class="user-profile">
                        <img src="static/images/member-1.jpg" width="40", height="40">
                        <div>
                            <medium>Alison Allison</medium>
                            <small>(Public) <i class="fas da-caret-down"></i></small>
                            <span> June 24, 2023, 1:40 pm</span>
                        </div>
                    </div>
                    <img src="static/images/post-1.png" class="post-img">
                    <p class="post-text">A big thank you everyone who showed up for the CCI's annual 
                        campus cleanup. We couldn't have asked for a bigger turn out! 
                        <a href="#">#CampusCleanup</a> <a href="#">#CCI</a></p>

                    <div class="post-row">
                        <div><img src="static/images/like.png" width="20", height="20"> 120</div>
                        <div><img src="static/images/comment.png" width="20", height="20"> 45</div>
                        <div><img src="static/images/share.png" width="20", height="20"> 20</div>
                    </div>
                </div>
            </div>
            <!-----------right sidebar--------- -->
            <div class="right-sidebar">

                <div class="sidebar-title">
                    <h4>Events</h4>
                    <a href="#">See All</a>
                </div>

                <div class="event">
                    <div class="left-event">
                        <h3>18</h3>
                        <span>March</span>
                    </div>
                    <div class="right-event">
                        <h4>Recruiting Event</h4>
                        <p>Union Building</p>
                        <a href="#">More Info</a>
                    </div>
                </div>
                <div class="event">
                    <div class="left-event">
                        <h3>22</h3>
                        <span>June</span>
                    </div>
                    <div class="right-event">
                        <h4>Mobile Marketing</h4>
                        <p>Woodward Building</p>
                        <a href="#">More Info</a>
                    </div>
                </div>
                <div class="sidebar-title">
                    <h4>Conversations</h4>
                    <a href="#">Hide Chat</a>
                </div>
                <div class="online-list">
                    <div class="online">
                        <img src="static/images/member-1.jpg" width="50", height="50">
                    </div>
                        <p>Alison Allison</p>
                </div>
                <div class="online-list">
                    <div class="online">
                        <img src="static/images/member-2.png" width="50", height="50">
                    </div>
                        <p>John Johnson</p>
                </div>
                <div class="online-list">
                    <div class="online">
                        <img src="static/images/member-3.jpg" width="50", height="50">
                    </div>
                        <p>Albert Albertson</p>
                </div>

            </div>

        </div>
            
    </body>
    </html>
