<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Niner Nexus</title>
    <link rel="stylesheet" href="static/addUser_style.css">
</head>
<body>
<h3>Login</h3>
<hr/>
{%- for category, message in get_flashed_messages(with_categories = true) %}
<div class="alert alert-danger">
    {{ message }}
</div>
{%- endfor %}

<form method="POST" action="{{request.path}}">
    <label for="Username">Username</label><br>
    <input type="text" name="usern" placeholder="Username"/><br>
    <label for="Password">Password</label><br>
    <input type="text" name="passw" placeholder="Password"/><br>
    <input type="submit" value="Login">
    <p><a href="addUser">Don't have an account? Click here</a></p>


</form>
</body>
</html>
